$primary-color: #132434;
$secondary-color: #013876;
$tertiary-color1: #267DBD;
$tertiary-color2: #93B7CC;
$tertiary-color3: #3893B1;
$error-color: #A53C3C;
$success-color: #3C763D;
$mobile-width: 600px;
$mobile-height: 500px;
$desktop-width: 1024px;


@import "weather-icons";
@import "weather-icons-wind";

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}


@mixin mobile_landscape {
  @media (max-height: #{$mobile-height}) and (orientation:landscape) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// General Rules -  Start
body{
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
}

.login-form-container,.search-container{
    position: absolute;

    @include mobile {
        top: 30%;
        left: 5%;
        width: 90%;
    }

    @include tablet {
        top: 30%;
        left: 25%;
        width: 50%;
    }

    @include desktop {
        top: 40%;
        left: 40%;
        width: 20%;
    }    
}

.back-button{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 30px;
}

.loading-icon{
    position: absolute;
    top: 50%;
    left: 50%;
}

.label-error{
    color: $error-color;
}

.signUpSuccess{
    color: $success-color !important;
}

// General Rules -  End

// Login page/ Register page specific rules - Start

.label-password, .label-username{
    color: $secondary-color;
    float: left;
    margin-bottom: 0px;
    font-weight: 800;
    @include mobile {
        font-size: 12px;
    }
    @include tablet {
        font-size: 12px;
    }
    @include desktop {
        font-size: 10px;
    }
}

.btn-signup, .btn-login, .btn-signup a, .btn-register-signup{
    float: right;
    padding-left: 2%;
    text-decoration: none !important;
    color: $tertiary-color3;
    cursor: pointer;
    @include mobile {
        font-size: 15px;
    }
    @include tablet {
        font-size: 15px;
    }
    @include desktop {
        font-size: 12px;
    }
}

.login-button-group{
    padding-top: 20px;
}

// Login page/ Register page specific rules - End



// Home Page specific rules - Start

.home-container{
    position: absolute;

    @include mobile {
        top: 30%;
        left: 5%;
        width: 90%;
    }

    @include tablet {
        top: 30%;
        left: 5%;
        width: 90%;
    }

    @include desktop {
        top: 40%;
        left: 35%;
        width: 30%;
    }    
}

.add-img {
    width: 20px;
    height: 20px;
}

.favourite-city-list-item, .favourite-city-list-item a{
    text-decoration: none !important;
    list-style-type: none;
    text-align: center;
    padding-top: 5px;
    color: $tertiary-color2;
    font-weight: 700;
    @include mobile {
        font-size: 30px;
    }
    @include tablet {
        font-size: 30px;
    }
    @include desktop {
        font-size: 20px;
    }
}

.favourite-city-list-group{
    padding-left: 0px;
}

// Home Page specific rules - End

// Search Page specific rules - Start

.input-username , .input-password, .input-username:focus, .input-password:focus, .search-container .react-autosuggest__input, .search-container .react-autosuggest__input:focus{
    background: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid $secondary-color;
    color: $tertiary-color2;
    padding: 0px;
    margin: 0px;    
    box-shadow: none;
    border-radius: 0px;
    outline: 0;
    @include mobile {
        height: 30px;
        font-size: 30px;
    }
    @include tablet {
        height: 30px;
        font-size: 30px;
    }
    @include desktop {
        height: 25px;
        font-size: 20px;
    }  
}

.react-autosuggest__suggestion{
    list-style-type: none;
}

.react-autosuggest__suggestions-list{
    padding-left: 0;
    padding-top: 5px;
}

.suggestion-content{
    color: $tertiary-color1;
    @include mobile {
        font-size: 25px;
    }
    @include tablet {
        font-size: 25px;
    }
    @include desktop {
        font-size: 15px;
    } 
}

.highlight {
  color: $tertiary-color2;
  font-weight: bold;
}

.btn-favourite-save{
    position: absolute;
    color: $tertiary-color3;
    cursor: pointer;
    @include mobile {
        bottom: 5%;
        left: 80%;
        font-size: 20px;
    }
    @include tablet {
        bottom: 20%;
        left: 60%;
        font-size: 25px;
    }
    @include desktop {
        top: 80%;
        left: 55%;
        font-size: 15px;
    }  
    
}

// Search Page specific rules - End

// Weather Page specific rules - Start

.weather-container{
    position: absolute;

    @include mobile {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 100%;
    }

    @include tablet {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 100%;
    }

    @include desktop {
        top: 40%;
        left: 15%;
        width: 70%;
    }  
    @include mobile_landscape {
        top: 25%;
        left: 15%;
        width: 70%;
    }    
}

.wi{
    color: $tertiary-color3;
    @include mobile {
        zoom: 6;
    }
    @include tablet {
        zoom: 8;
    }
    @include desktop {
        zoom: 3;
    }
    @include mobile_landscape {
        zoom: 3;
    }
}

.wi-sunrise, .wi-sunset, .wi-thermometer{
    color: $secondary-color;
    @include mobile {
        zoom: 2;
        width: 25px;
    }
    @include tablet {
        zoom: 2;
        width: 25px;
    }
    @include desktop {
        zoom: 1;
        width: 8%;
    }
    @include mobile_landscape {
        zoom: 1;
        width: 8%;
    }
}

.wi-thermometer{
    @include mobile {
        padding-left: 7%;
    }
    @include tablet {
        padding-left: 7%;
    }
    @include desktop {
        padding-left: 10px;
    }
    @include mobile_landscape {
        padding-left: 60%;
    }
}

.weather-column{    
    display: inline-block;
    text-align: center;
    @include mobile {
        width: 80%;
        padding-left: 5%;
        padding-bottom: 50px;
        position: absolute;
        left: 10%;
    }
    @include tablet {
        width: 80%;
        padding-left: 5%;
        padding-bottom: 50px;
        position: absolute;
        left: 10%;
    }
    @include desktop {
        width: 30%;
        padding-left: 5%;
    }
    @include mobile_landscape {
        width: 30%;
        padding-left: 5%;
    }
}

.sub-cell, .sub-cell-img{
    padding-left: 15px;
    display: table-cell;
    min-width: 20%;
    color: $tertiary-color3;
    @include mobile {
        font-size: 20px;
    }
    @include tablet {
        font-size: 20px;
    }
}

.cell-weather-desc, .cell-city-name{
    color: $tertiary-color2;
}

.cell-weather-desc{
    margin-top: 20px;
    @include tablet{
        font-size: 30px;
    }
}

.cell-city-name{
    font-weight: bold;
    @include mobile {
        font-size: 35px;
    }
    @include tablet {
        font-size: 40px;
    }
    @include desktop {
        font-size: 20px;
    }
}

.cell-current-time-hour, .cell-current-time-min{
    color: $tertiary-color1;
    font-weight: normal;
    @include mobile {
        font-size: 45px;
    }
    @include tablet {
        font-size: 50px;
    }
    @include desktop {
        font-size: 25px;
    }
}

.cell-current-time-hour{
    @include mobile {
        height: 40px;
    }
    @include tablet {
        height: 45px;
    }
    @include desktop {
        height: 25px;
    }
}

.weather-column time-info{
    @include mobile {
        float: left;
    }
    @include tablet {
        float: left;
    }
}

.time-info{
    @include mobile {
        top: 0%;
    }
    @include tablet {
        top: 0%;
    }
    @include mobile_landscape {
        top: 0%;
        left: 30%;
    }
}

.weather-condition{
    @include mobile {
        top:35%;
    }
    @include tablet {
        top:30%;
    }
    @include mobile_landscape {
        top: 5%;
        left: 0%;
    }
}

.weather-details{
    @include mobile {
        top: 60%;
        padding-left: 0px;
    }
    @include tablet {
        top: 60%;
        padding-left: 0px;
    }
    @include mobile_landscape {
        top: 5%;
        left: 60%;
        width: 40%;
    }
}

.cell-temp, .cell-sunrise, .cell-sunset{
    @include mobile {
        width: 90%;
        padding-bottom:10px;
        padding-left:20%;
    }
    @include tablet {
        width: 90%;
        padding-bottom:10px;
        padding-left:36%;
    }
    @include mobile_landscape {
        width: 100%;
        padding-bottom:10px;
        padding-left:30%;
    }
}

.cell-temp .sub-cell{
    @include mobile {
        margin-left: 7%;
    }
    @include tablet {
        margin-left: 7%;
    }
    @include desktop {
        margin-left: 5%;
    }
    @include mobile_landscape {
        margin-left: 30%;
    }
}

.label-error-weather{
    position: absolute;
    top: 50%;
    @include mobile {
        left: 20%;
    }
    @include tablet {
        left: 20%;
    }
    @include desktop {
        left: 40%;
    }
    @include mobile_landscape {
        left: 40%;
    }
    
}

// Weather Page specific rules - End
